DB_USER = root

DB_PASS = [your_password]

DB_NAME = kerbero1_disaster

DB_PORT = 3306

WEATHER_API_KEY = [your_weather_api_key]

SMS_API_KEY = [your_sms_api_key]

SMS_USERNAME = [your_sms_username]

EMAIL_USER = [your_email_user]

EMAIL_PASSWORD = [your_email_password]

GMAIL_USER = [your_gmail_user]

GMAIL_PASS = [your_gmail_pass]

TEXTSMS_API_KEY = [your_textsms_api_key]

TEXTSMS_PARTNER_ID = [your_textsms_partner_id]

TEXTSMS_SHORTCODE = [your_textsms_shortcode]

GOOGLE_CLIENT_ID = [your_google_client_id]

GOOGLE_CLIENT_SECRET = [your_google_client_secret]

CONSUMER_KEY = [your_consumer_key]

CONSUMER_SECRET = [your_consumer_secret]


CALLBACK_URL = [your_callback_url]

JWT_SECRET = [your_jwt_secret]